body {
    color: #526066;
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
	margin: 0.5em 0;
}

p, blockquote {
    line-height: 1.25em;
}


/*
 * -- Layout Styles --
 */

.l-box {
    padding: 0.5em 2em;
}
.nossl-section {
	border-bottom: 1px solid rgb(190, 190, 190);
	padding: 1em 0;
}

#main {
	max-width: 980px;
	margin: 0 auto;
}

.no-border {
	border: 0;
}
blockquote {
	font-style: italic;
	margin: 0;
	padding: 0 1em;
}
.footer {
    background: #111;
    color: #888;
    text-align: center;
	font-size: 0.8em;
}
.register-close img {
	width: 15px;
	height: 15px;
}
.pbm {
	padding-bottom: 1em;
}
.hal {
	text-align: left;
}
.har {
	text-align: right;
}
.hac {
	text-align: center;
}

@media (max-width: 767px) {
	.hal, .har, .hac {
		text-align: center;
	}
}
.flex-vam {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.vam {
	vertical-align: middle;
}
.partner {
	padding: 1em;
	width: 200px;
}
.nossl-section p {
	padding: 0 1em;
}
.nossl-section h2 {
	padding: 0 0.66em;
}
.nossl-section img {
	max-width: 90%;
}
@media (max-width: 480px) {
	.nossl-section img {
		height: auto !important;
	}
}
@media (min-width: 767px) {
	.flip {
		-webkit-flex-flow: row-reverse wrap;
		flex-flow: row-reverse wrap;
	}
}
.speaker {
	margin-bottom: 1em;
}
.relativity {
	position: relative;
	width: 100%;
	height: 60px;
	text-align: center;
}
.relativity div {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	background-color: white;
}
/*
 * -- Banner Styles --
 */

.banner {
	/* CC Photo by by Robert S. Donovan: http://www.flickr.com/photos/booleansplit/8759913601/sizes */
    background: transparent url('/images/day-dream.jpg') 0 center no-repeat;
    background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/day-dream.jpg', sizingMethod='scale');
    height: 14em;
    width: 100%;
	text-shadow: 1px 1px 1px #000;
}

@media (min-width: 480px) {
	.banner {
	    height: 12em;
	}
}

/*
 * -- Fonts and Headers --
 */

html, button, input, select, textarea,
.pure-g-r [class *= "pure-u"],
.pure-g-r-r [class *= "pure-u"] {
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2 {
	color: #1a74ba;
	letter-spacing: inherit;
	text-transform: none;
	font-weight: 400;
	font-size: 1.5em;
}

h3{
	font-size:1.1em;
	letter-spacing: 0.2em;
}
.link {
	color: #1a74ba;
}
.link:visited {
	color: #124F7D;
}
.link:hover {
	color: #4CA3E6;
}
.footer .link {
	color: #A3A3A3;
}
.footer .link:visited {
	color: #8F8F8F;
}
.footer .link:hover {
	color: #C2C2C2;
}

.legal {
	font-size:75%;
	font-weight: 200;
}
.banner-text {
	color: white;
	padding: 1em 0 0 1em;
	font-size: 2.4em;
}
.date, .location {
	font-size: 0.5em;
}
.speaker-name {
	font-weight: bold;
}
.speaker-quote {
	font-style: italic;
	font-size: 0.9em;
	width: 150px;
	display: inline-block;
}
.keep-together {
	white-space: nowrap;
}
.jpy {
	font-size: 0.8em;
}
.register {
	background: rgb(28, 184, 65);
	border-radius: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	color: white;
	font-size: 2.5em;
}
@media (max-width: 480px) {
	.register {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
}
.register-container {
	margin-top: 3em;
}
.register-container-narrow {
	display: none;
}
@media (max-width: 767px) {
	.register-container {
		display: none;
	}
	.register-container-narrow {
		display: block;
	}
}

#register {
	left:50%;
	margin:-250px 0 0 -40%;
	opacity: 0;
	position:absolute;
	top:-50%;
	visibility: hidden;
	width:80%;
	box-shadow:0 0.1em 0.5em rgba(0,0,0,.25);
	box-sizing:border-box;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}
#register:target {
	opacity: 1;
	top:50%;
	visibility: visible;
}
.register-content {
	background: #f7f7f7;
	position: relative;
	z-index: 20;
	border-radius:1em;
	padding: 1em;
}
#register .overlay {
	background-color: #000;
	background: rgba(0,0,0,.5);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
#register .register-close {
	float: right;
}
.lb {
	display: none;
}
@media (max-width: 480px) {
	#register {
		width: 100%;
		margin: 0px 0 0 -50%;
	}
	#register:target {
		top: 0;
	}
	.register-content {
		padding-top: 1em;
		border-radius: 0;
	}
	.lb {
		display: block;
	}
}